<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../jquery-ui/css/excite-bike/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/admin-style.css">
		<title>Title</title>
	</head>

	<body>
		
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Kraken {{title}}</a>
				
				<form class="navbar-search pull-left">
					<div class="input-append">
						<input type="search" class="span3" placeholder="Search" name="search" id="search"/>
						<button class="btn">Search</button>
					</div>
				</form>
				
				<a href='../' class='pull-right'>Log Out</a>
			</div>
		</div>
		<div class='main'>
			<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-tabs">
					<li><a href="#tab-dashboard" data-toggle="tab">My Dashboard</a></li>
					<li><a href="#tab-settings" data-toggle="tab">System Settings</a></li>
					<li class="active"><a href="#tab-users" data-toggle="tab">Users</a></li>
					<li><a href="#tab-locations" data-toggle="tab">Locations</a></li>
					<li><a href="#tab-events" data-toggle="tab">Events</a></li>
					<li><a href="#tab-products" data-toggle="tab">Products</a></li>
					<li><a href="#tab-customers" data-toggle="tab">Customers</a></li>
					<li><a href="#tab-reports" data-toggle="tab">Reports</a></li>
					<li><a href="#tab-presentation" data-toggle="tab">Presentation</a></li>
					<li><a href="#tab-sales" data-toggle="tab">Live Sales</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="tab-dashboard">
					<!-- **********************
					***************************
						   DASHBOARD TAB
					***************************
					*********************** -->
						  <p>Graphs, current sales, whatever.  Can be configured by user.</p>
					</div>
					<div class="tab-pane" id="tab-settings">
					<!-- **********************
					***************************
						   SETTINGS TAB
					***************************
					*********************** -->
						  <p>Requires certain privilege level.  Can be used to change the organizations name, details, etc.  Edit taxes and financial stuff here.</p>
					</div>
					<div class="tab-pane active" id="tab-users">
					<!-- **********************
					***************************
						   USERS TAB
					***************************
					*********************** -->
						<p>Use this to manage the administrative and staff-level users.  The people adding items and adjusting prices, as well as the people selling items at the POS terminals, and executives analyzing the data.</p>
						<ul class="nav nav-tabs" id="users-options">
							<li class="active"><a href="#users-users" data-toggle="tab">Users</a></li>
							<li class='disabled'><a href="#users-privs" data-toggle="tab">Privileges</a></li>
							<!-- <li><a href="#users-privs" data-toggle="tab">Privileges</a></li> -->
						</ul>
						 
						<div class="tab-content">
							<div class="tab-pane active" id="users-users">
								<div class='events-display'>
									<div class='users-toolbar'>
										<form class="form-search">
											<input type="text" class="input-medium " placeholder="Search Users">
											<button type="submit" class="btn" title="This will search all available fields on users only... search by address if you want!">Search</button>
											<span class='divider'> | </span>
											<button class='btn btn-success'><i class='icon-file'></i> Add User</button>
										</form>
									</div>
									<table class='user-listing'>
										<thead>
											<tr>
												<th>Options</th><th>First</th><th>Last</th><th>Access Group</th><th>Last Access</th><th>User History</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Samuel</td><td>Kelly</td><td>Top Level</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Austin</td><td>Lange</td><td>Top Level</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Thomas</td><td>O'Connor</td><td>Tech Admin</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Kendra</td><td>Ekelund</td><td>Theater Manager</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Stephen</td><td>Apkon</td><td>Executive</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
											<tr>
												<td>
													<a title='Edit this user&#39;s information' href='#'><i class='icon-user'></i></a> 
													<a title='Leave a message for this user' href='#'><i class='icon-envelope'></i></a> 
													<a title='Remove this user (deactivate)' href='#'><i class='icon-remove'></i></a> 
												</td>
												<td>Harry</td><td>Potter</td><td>Retail POS</td><td>06/10/2013 11:08am</td><td>22,345 Actions</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane" id="users-privs">
								<div class='events-display'>
									<div class='privilege-toolbar'>
										<form class='form-horizontal'>
											<select id='privilege-editing-list'>
												<option value='top-level'>Select Privilege Group</option>
												<option value='top-level'>Top Level</option>
												<option value='top-level'>Tech Admin</option>
												<option value='top-level'>Theater Manager</option>
												<option value='top-level'>Executive</option>
												<option value='top-level'>Admin POS</option>
												<option value='top-level'>Retail POS</option>
												<option value='top-level'>Reports</option>
												<option value='top-level'>Executive Reports</option>
											</select>
											<button class="btn btn-success"><i class='icon-file'></i> Add Privilege Level</button>
										</form>
									</div>
									<div class='events-privileges-checkboxes'>
										<form id='users-privileges-top_level' class='form-inline'>
											<div class='privilege-group administrative-privileges'>
												<h4>Administrative Privileges</h4>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Can log in to Dashboard</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>System Settings</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove Users</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>View/Modify Users</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove Privileges</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>View/Modify Privileges</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove Locations/Venues</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>View/Modify Locations/Venues</span>
												</label>
											</div>
											<div class='privilege-group administrative-privileges'>
												<h4>Product and Event Options</h4>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Schedule Products</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Modify Products</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Modify Product Availability</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Modify Ticket Types</span>
												</label>
												<hr>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Schedule Events</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Modify Events</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Modify Event Masters</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Modify Event Groups</span>
												</label>
												<label class="checkbox">
													<input type="checkbox" value="">
													<span>Add/Remove/Modify Event Defaults</span>
												</label>
											</div>
											<div class='privilege-group'>
												<h4>More Privilege Options Coming Soon</h4>
												I'll continue to flesh this out as I build out the screens.  This list will obviously be much bigger, eventually.
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						
						
						
					</div>
					<div class="tab-pane" id="tab-locations">
					<!-- **********************
					***************************
						   LOCATIONS TAB
					***************************
					*********************** -->
					
						<p>Set up your locations and venues here.  <br/>You can have multiple "locations" (usually an address). <br/>At each location you can have multiple "venues", like screens in a multiplex.</p>
						<p>
							<br/>
							<button class="btn  btn-success"><i class='icon-file'></i> Add Location</button>
						</p>
						<br/>
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
										<h5>Jacob Burns Film Center - Theater</h5>
									</a>
								</div>
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">
										<span class='pull-right'><a href='#'><i class='icon-remove'></i> Delete Location</a></span>
										<h6>364 Manville Rd, Pleasantville NY, 10570</h6>
										http://www.burnsfilmcenter.org/<br/>
										914-773-7663 ext. 1<br/>
										<button title="Add a venue to this location" class="btn btn-mini  btn-success"><i class='icon-file'></i> Add Venue</button>
										<ul>
											<li>	
												<a href='#'>Theater 1</a>
												<div class='venue-details'>
													Name: Theater 1<br/>
													Capacity: 1,000<br/>
												</div>
											</li>
											<li>
												<a href='#'>Theater 2</a>
												<div class='venue-details'>
													Name: Theater 2<br/>
													Capacity: 50<br/>
												</div>
											</li>
											<li>
												<a href='#'>Theater 3</a>
												<div class='venue-details'>
													Name: Theater 3<br/>
													Capacity: 300<br/>
												</div>
											</li>
											<li><a href='#'>See All Events</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
										<h5>Jacob Burns Film Center - Media Arts Lab</h5>
									</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="accordion-inner">
										<span class='pull-right'><a href='#'><i class='icon-remove'></i> Delete Location</a></span>
										<h6>400 Manville Rd, Pleasantville NY, 10570</h6>
										http://www.burnsfilmcenter.org/<br/>
										Phone: 914-773-7663 ext. 1<br/>
										Fax: 914-773-7664<br/>
										<button title="Add a venue to this location" class="btn btn-mini  btn-success"><i class='icon-file'></i> Add Venue</button>
										<ul>
											<li>
												<a href='#'>Upstairs Screening Room</a>
												<div class='venue-details'>
													Name: Upstairs Screening Room<br/>
													Capacity: 300<br/>
												</div>
											</li>
											<li>
												<a href='#'>Downstairs Screening Room</a>
												<div class='venue-details'>
													Name: Downstairs Screening Room<br/>
													Capacity: 300<br/>
												</div>
											</li>
											<li><a href='#'>See All Events</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-events">
					<!-- **********************
					***************************
						   EVENTS TAB
					***************************
					*********************** -->
						<p>This is where you'll create Event Masters (like Iron Man 3), and Events (like Iron Man 3 at 2:00pm on M/D/YY).  You can do all scheduling, ticket assignments, series, discounts, and member availability on a per-film, per-event basis.</p>
						<!-- -->
						
						<ul class="nav nav-tabs" id="event-options">
							<li class="active"><a href="#event-scheduler" data-toggle="tab">Scheduler</a></li>
							<li><a href="#event-masters" data-toggle="tab">Event Masters</a></li>
							<li><a href="#event-groups" data-toggle="tab">Event Groups</a></li>
							<li><a href="#event-defaults" data-toggle="tab">Defaults</a></li>
						</ul>
						 
						<div class="tab-content">
							<div class="tab-pane active" id="event-scheduler">
								<div class='events-display'>
									<br/>
									<div class='row'>
									
										<div class='span3 events-master_listing'>
													Sort by:
													Name | Duration | group
											<ul title="YOU WILL BE ABLE TO GHOST-DRAG AND DROP THESE LISTINGS INTO THE SCHEDULER TAB TO CREATE A SCHEDULE">
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
												<li>film listing</li>
											</ul>
										</div>
												
										<div class='span10 events-event_scheduler'>
											<h5>Event Scheduler 
												<i 
													class='icon-question-sign' 
													title='This will hold a drag/drop target area.  Vertically stacked Location/Venue groups, timeline going to the right representing showtimes.  Drag and drop "Event Masters" from the left menu into this area to "schedule" the show.  Must click SAVE at the bottom before it applies.  Double click a scheduled event in the droptarget area to edit that event&#39;s properties.'
												>
												</i>
											</h5>
											<div class='row'>
												<div class='span4'>
													Target Date:<input type="text" id="event-scheduler-datepicker" />
												</div>
												<div class='span3'>
													<a href='#' class='btn btn-mini'>Copy Today's Schedule</a>
												</div>
												<div class='span3'>
													<a href='#' class='btn btn-mini'>Clear Today's Schedule</a>
												</div>
											</div>
											<p>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="event-masters">
								<div class='events-display'>
									<h4>Event Masters</h4>
									<p>
										This is where you will create and manage (edit, remove, update) Event Master Profiles.  This is a definition of an event that can be scheduled multiple times.  
									</p>
									<div class='row'>
										<div class='span3'>
											List of event masters
										</div>
										<div class='span9'>
											Edit selected event master
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="event-groups">...</div>
							<div class="tab-pane" id="event-defaults">...</div>
						</div>
						
						<!-- -->
						
						
						
						<!-- -->
					</div>
					<div class="tab-pane" id="tab-products">
					<!-- **********************
					***************************
						   PRODUCTS TAB
					***************************
					*********************** -->
						<p>This is where you will create your products - things that customers actually buy.  Ticket types are products, as well as concessions, memberships, series bundles, etc.</p>
						<ul class="nav nav-tabs" id="product-options">
							<li class="active"><a href="#tickets" data-toggle="tab">Tickets</a></li>
							<li><a href="#concessions" data-toggle="tab">Concessions</a></li>
							<li><a href="#merchandise" data-toggle="tab">Merchandise</a></li>
						</ul>
						 
						<div class="tab-content">
							<div class="tab-pane active" id="tickets">
									<h3>Tickets</h3>
									<div class="accordion" id="ticket-types-accordion">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#ticket-types-accordion" href="#ticket-groups-One">
													<h5>Basic Tickets</h5>
												</a>
											</div>
											<div id="ticket-groups-One" class="accordion-body collapse in">
												<div class="accordion-inner">
													<span class='pull-right'><a href='#'><i class='icon-remove'></i> Delete Location</a></span>
													<h6>Basic Tickets</h6>
													<ul>
														<li>
															<a href='#'>General Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> General Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $10<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>General 3D Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Senior Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $13<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>Senior Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Senior Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $8<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>Student Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Senior Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $8<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>Matinee Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Senior Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $8<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>Member General Admission</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Member Admission<br/>
																<strong>Description:</strong>A General Admission ticket for members.  For valid memberships only.<br/>
																<strong>Base Price:</strong> $6<br/>
																<strong>Additional Cost:</strong> $10<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> Yes<br/>
																<strong>Limit per event:</strong> 2 (All memberships)<br/>
																<hr>
																<a href='#' title='This should "drop down" to show all membership levels, whether this ticket is available to them, and what their limit should be.'>
																	Show Membership Limits and Availability
																</a>
															</div>
														</li>
														<li><a href='#' >See All Events</a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#ticket-types-accordion" href="#ticket-groups-Two">
													<h5>Special Event Tickets</h5>
												</a>
											</div>
											<div id="ticket-groups-Two" class="accordion-body collapse">
												<div class="accordion-inner">
													<span class='pull-right'><a href='#'><i class='icon-remove'></i> Delete Location</a></span>
													<h6>Special Event Tickets</h6>
													<ul>
														<li>
															<a href='#'>$20 Member Ticket</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> $20 Member Ticket<br/>
																<strong>Description:</strong>A ticket to a special event for adult members.<br/>
																<strong>Base Price:</strong> $6<br/>																
																<strong>Additional Cost:</strong> $14<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>$30 Nonmember Ticket</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> General Admission<br/>
																<strong>Description:</strong>A General Admission ticket for adults.<br/>
																<strong>Base Price:</strong> $10<br/>																
																<strong>Additional Cost:</strong> $20<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>$25 Member Ticket</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> $20 Member Ticket<br/>
																<strong>Description:</strong>A General Admission ticket for adult members.<br/>
																<strong>Base Price:</strong> $6<br/>																
																<strong>Additional Cost:</strong> $19<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>$35 Nonmember Ticket</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> General Admission<br/>
																<strong>Description:</strong>A General Admission ticket for adults.<br/>
																<strong>Base Price:</strong> $10<br/>																
																<strong>Additional Cost:</strong> $25<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> No<br/>
																<strong>Limit per event:</strong> -1 (No Limit)<br/>
															</div>
														</li>
														<li>
															<a href='#'>Free Member Ticket</a>
															<div class='ticket-type-details'>
																<strong>Name:</strong> Free Member Admission<br/>
																<strong>Description:</strong>A free admission to an event for members.<br/>
																<strong>Base Price:</strong> $0<br/>																
																<strong>Additional Cost:</strong> $0<br/>
																<strong>Taxes:</strong> $0 | 0.0% <br/>
																<strong>Active:</strong> Yes<br/>
																<strong>Members-Only:</strong> Yes<br/>
																<strong>Limit per event:</strong> 2 per member<br/>
															</div>
														</li>
														<li><a href='#'>See All Events</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									
									
							</div>
							<div class="tab-pane" id="concessions">
								<div class='events-display'>
									<h3>Concessions</h3>
								</div>
							</div>
							<div class="tab-pane" id="merchandise">
								<div class='events-display'>
									<h3>Merchandise</h3>
								</div>
							</div>
							<div class="tab-pane" id="product-groups">...</div>
							<div class="tab-pane" id="product-defaults">...</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-customers">
					<!-- **********************
					***************************
						   CUSTOMERS TAB
					***************************
					*********************** -->
						<p>This is where you can access important information about your customers, and perform complex analysis.  You can also use this as a way to contact, track, and manage your customers.  Member management, privileges, discounts, messaging, etc all is managed from here.</p>
						<div class='customers-display'>
									<ul class="nav nav-tabs" id="customers-options">
										<li class="active"><a href="#customers-customers" data-toggle="tab">Customers</a></li>
										<!-- <li><a href="#customers-members" data-toggle="tab">Members</a></li> -->
										<li><a href="#customers-member-definitions" data-toggle="tab">Membership Types</a></li>
									</ul>
									 
									<div class="tab-content">
										<div class="tab-pane active" id="customers-customers">
											<div class='events-display'>
												
											</div>
										</div>
										<div class="tab-pane" id="customers-members">
											<div class='events-display'>
												<h5>
													Members
												</h5>
											</div>
										</div>
										<div class="tab-pane" id="customers-member-definitions">
											<div class='events-display'>
												<h5>
													Membership Types
												</h5>
												<div>
													<div class='row display-row'>
														<div class='span3'>
															<button class='btn btn-success btn-mini'><i class='icon-file'></i> Add Membership Type</button>
															<div class='member-types-list'>
																<div class='row'>
																	<div class='span3 membership-types_listing'>
																				Sort by:
																				Name | Duration | group
																		<ul title="YOU WILL BE ABLE TO GHOST-DRAG AND DROP THESE LISTINGS INTO THE SCHEDULER TAB TO CREATE A SCHEDULE">
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																			<li><a href='#'>film listing</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
														<div class='span9'>
															<h4>Membership Type Definition</h4>
															<hr/>
															Membership Name: Junior Membership<br/>
															Price: $100<br/>
															Duration: 12 months<br/>
															<span>Membership Privileges</span>: Custom Definition<br/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
						</div>
											
					
					</div>
					<div class="tab-pane" id="tab-reports">
					<!-- **********************
					***************************
						   REPORTS TAB
					***************************
					*********************** -->
						  <p>This is where you can produce concise pre-built reports, or you can use and save the data filters to create your own.</p>
					</div>
					<div class="tab-pane" id="tab-presentation">
					<!-- **********************
					***************************
						   PRESENTATION TAB
					***************************
					*********************** -->
						  <p>This is where you make changes to the web and POS portals.  This includes POS button placement and item selections, as well as custom CSS and HTML editing for the web.</p>
					</div>
					<div class="tab-pane" id="tab-sales">
					<!-- **********************
					***************************
						   SALES TAB
					***************************
					*********************** -->
						  <p>This is an interface used to process over-the-phone sales of the products through the system in real-time.</p>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../js/libs/bootstrap.min.js"></script>
		
		<script src="../js/libs/handlebars.js"></script>
		<script src="../js/libs/ember-1.0.0-rc.5.min.js"></script>
		<script src="../jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../js/application.js"></script>
		<script>
			$(document).ready(function(){
				$('.venue-details, .ticket-type-details').hide().prev().click(function(i){
					i.preventDefault();
					i.stopPropagation();
					$(this).next().slideToggle(400);
				});
				$(function() {
					$( "#event-scheduler-datepicker" ).datepicker();
				});
				$('#event-options a:last').tab('show');
				
				$(".disabled").bind('click', function(){
					//THIS NEEDS A FIXIN, OR A PADDLIN'
				}).find("a").bind('click', function(){
					//alert("You shouldn't even be seeing this message, let alone switching to this tab!");
					$(this).stopPropogation();
				});
				$(".disabled").css('color', '#f00').click(function(evt){
					evt.stopPropogation();
					evt.preventDefault();
					$(this).stopPropogation();
					$(this).preventDefault();
				});
			});
		</script>
	</body>
</html>